<!-- <div>
    <input #twit placeholder="Post twit"/>
    <button (click)="post({twit: twit.value})">Post Twit</button>
</div> -->
<div *ngIf="isLoggedIn; else infoCard">
    <form fxLayoutAlign="stretch" fxLayout="column" >
        <mat-form-field >
            <input matInput  #twit placeholder="Post New Twit" >
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="post({twit: twit.value}); twit.value=''" type="submit">Post</button>
    </form>
</div>
<ng-template #infoCard>
    <mat-card class="container-announce">
        <mat-card-title class="announcement">You need to <a routerLink="/login"> Login</a> or <a routerLink="/register">Register</a> to post a tweet</mat-card-title>
    </mat-card>
</ng-template>

